<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.CarHistoryMapper">

    <insert id="insertCarHistory">
        insert into tb_BMS(
        devPhone,
        BMSState,
        errorLevel,
        SOC,
        MaxBatteryMonomerNumber,
        MaxBatteryMonomerVoltage,
        MinBatteryMonomerNumber,
        MinBatteryMonomerVoltage,
        prechargeState,
        highVoltageConnectorsState,
        BmsCheckState,
        SOH,
        totalVoltage,
        total电流,
        MaxTempreture,
        lowTempreture,
        ChargeConnectionState,
        ChargeState,
        positiveContactorState,
        preChargeConnectorState,
        negativeContactorState,
        preChargeContactorState,
        heatingSystemState,
        coolingSystemState,
        wetnessState,
        MaxContinuousChargePower,
        MaxChargePower,
        MaxContinuousDischargePower,
        MaxDischargePower,
        positiveResistance,
        negativeResistance,
        insulationError,
        preChargeError,
        positiveContactorError,
        negtiveContactorError,
        preChargeConnectorError,
        chargeContactorError,
        lowTempertureError,
        highTempertureError,
        diffTempertureError,
        highWetnessError,
        chargeError,
        dischargeOvercurrentError,
        moduleOvervoltageError,
        moduleUndervoltageError,
        moduleVoltageDiffError,
        batteryOvervoltageError,
        batteryUndervoltageError,
        underSocError,
        overSocError,
        controlBoardPowerError,
        subPCBCanError,
        VCUcCanError,
        chargeCanError,
        coolingSystemError,
        heatingSystemError,
        moduleVoltageSenserError,
        currentSenserError,
        tempretureSenserError,
        voltageSenserError,
        wetnessSenserError,
        ChargeUnitError,
        repairSwitchError,
        batteryCapSwitchError,
        sendDatetime
        )
        values
        (
        '${locationInfo.devPhone}',
        '${locationInfo.BMSState}',
        '${locationInfo.errorLevel}',
        '${locationInfo.SOC}',
        '${locationInfo.MaxBatteryMonomerNumber}',
        '${locationInfo.MaxBatteryMonomerVoltage}',
        '${locationInfo.MinBatteryMonomerNumber}',
        '${locationInfo.MinBatteryMonomerVoltage}',
        '${locationInfo.prechargeState}',
        '${locationInfo.highVoltageConnectorsState}',
        '${locationInfo.BmsCheckState}',
        '${locationInfo.SOH}',
        '${locationInfo.totalVoltage}',
        '${locationInfo.total电流}',
        '${locationInfo.MaxTempreture}',
        '${locationInfo.lowTempreture}',
        '${locationInfo.ChargeConnectionState}',
         '${locationInfo.ChargeState}',
         '${locationInfo.positiveContactorState}',
         '${locationInfo.preChargeConnectorState}',
         '${locationInfo.negativeContactorState}',
         '${locationInfo.preChargeContactorState}',
         '${locationInfo.heatingSystemState}',
         '${locationInfo.coolingSystemState}',
         '${locationInfo.wetnessState}',
         '${locationInfo.MaxContinuousChargePower}',
         '${locationInfo.MaxChargePower}',
          '${locationInfo. MaxContinuousDischargePower}',
         '${locationInfo.MaxDischargePower}',
         '${locationInfo.positiveResistance}',
         '${locationInfo.negativeResistance}',
         '${locationInfo.insulationError}',
         '${locationInfo.preChargeError}',
         '${locationInfo.positiveContactorError}',
         '${locationInfo.negtiveContactorError}',
         '${locationInfo.preChargeConnectorError}',
         '${locationInfo.chargeContactorError}',
         '${locationInfo.lowTempertureError}',
         '${locationInfo.highTempertureError}',
         '${locationInfo.diffTempertureError}',
         '${locationInfo.highWetnessError}',
         '${locationInfo.chargeError}',
         '${locationInfo.dischargeOvercurrentError}',
         '${locationInfo.moduleOvervoltageError}',
         '${locationInfo.moduleUndervoltageError}',
         '${locationInfo.moduleVoltageDiffError}',
         '${locationInfo.batteryOvervoltageError}',

         '${locationInfo.batteryUndervoltageError}',
         '${locationInfo.underSocError}',
         '${locationInfo.overSocError}',
         '${locationInfo.controlBoardPowerError}',
         '${locationInfo.subPCBCanError}',
         '${locationInfo.VCUcCanError}',
         '${locationInfo.chargeCanError}',
         '${locationInfo.coolingSystemError}',
         '${locationInfo.heatingSystemError}',
         '${locationInfo.moduleVoltageSenserError}',
         '${locationInfo.currentSenserError}',
         '${locationInfo.tempretureSenserError}',
         '${locationInfo.voltageSenserError}',
         '${locationInfo.wetnessSenserError}',
         '${locationInfo.ChargeUnitError}',
         '${locationInfo.repairSwitchError}',
         '${locationInfo.batteryCapSwitchError}',
        now()
        )
    </insert>

</mapper>