<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.CarHistoryMapper">

    <insert id="insertCarHistory">
        insert into tb_carhistory(
        devphone,
		  locateState,
		  gpsPosx,
		  gpsPosy,
		  gpsSpeed,
		  gpsDirect,
		  gpsMileage,
		  canSpeed,
		  Height,
		  drivemode,
		  engine,
		  acceleratorPedal,
		  atmosphericPressure,
		  brakePedal,
		  tempreture,
		  steeringwheelAngle,
		  videostate,
		  sendDatetime,
		  reviceDatetime
        )
        values
        (
        '${locationInfo.devPhone}',
		  	'${locationInfo.locateState}',
		    '${locationInfo.gpsPosX}',
		    '${locationInfo.gpsPosY}',
		    '${locationInfo.gpsSpeed}',
		    '${locationInfo.gpsDirect}',
		     '${locationInfo.gpsMileage}',
		    '${locationInfo.canSpeed}',
		    '${locationInfo.Height}',
		    '${locationInfo.drivemode}',
		    '${locationInfo.engine}',
		    '${locationInfo.acceleratorPedal}',
		    '${locationInfo.atmosphericPressure}',
		    '${locationInfo.brakePedal}',
		    '${locationInfo.tempreture}',
		     '${locationInfo.steeringwheelAngle}',
		    '${locationInfo.videostate}',
		    '${locationInfo.sendDatetime}',
		    now()
        )
    </insert>

</mapper>