<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.CarHistoryMapper">

	<insert id="insertCarHistory">
		insert into zt_car_history(
		  dev_phone,
          gps_pos_x,
          gps_pos_y,
          gps_speed,
          gps_height,
          gps_direct,
          send_datetime,
          revice_datetime
		)
		values
		  (
		  '${locationInfo.devPhone}',
		    ${locationInfo.gpsPosX},
		    ${locationInfo.gpsPosY},
		    ${locationInfo.gpsSpeed},
		    ${locationInfo.gpsHeight},
		    ${locationInfo.gpsDirect},
		    '${locationInfo.sendDatetime}',
		    now()
		  ) 
	</insert>

</mapper>