<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.CarRuntimeMapper">

	<insert id="insertCarRuntime">
		insert into zt_car_runtime (
		  dev_phone,
		  gps_pos_x,
		  gps_pos_y,
		  gps_speed,
		  gps_height,
		  gps_direct,
		  send_datetime,
		  revice_datetime
		)
		values
		  (
		  	'111',
		    ${locationInfo.gpsPosX},
		    ${locationInfo.gpsPosY},
		    ${locationInfo.gpsSpeed},
		    ${locationInfo.gpsHeight},
		    ${locationInfo.gpsDirect},
		    '${locationInfo.sendDatetime}',
		    now()
		  ) 
	</insert>
	
	<update id="updateCarRuntime">
		update 
		  zt_car_runtime
		set
		  gps_pos_x = '${locationInfo.gpsPosX}',
		  gps_pos_y = '${locationInfo.gpsPosY}',
		  gps_speed = '${locationInfo.gpsSpeed}',
		  gps_height = '${locationInfo.gpsHeight}',
		  gps_direct = '${locationInfo.gpsDirect}',
		  send_datetime = '${locationInfo.sendDatetime}',
		  revice_datetime = now()
		where
			dev_phone = '${locationInfo.devPhone}'
	</update>

	<update id="setCarOnlineState">
		update 
		  zt_car_runtime
		set 
		  online_datetime = now(),
		  online_state = 1
		where
		  dev_phone = '${devPhone}' 
	</update>
	
    <update id="setCarOfflineState">
		update 
		  zt_car_runtime
		set 
		  offline_datetime = now(),
		  online_state = 0
		where
		  revice_datetime &lt;= '${idleTime}'
		  and online_state = 1
	</update>
	
	<select id="findCarPassword" resultType="com.entity.CarRuntime">
		select 
		  car_password carPassword
	    from 
	      zt_car_runtime 
	    where 
	      dev_phone = '${terminalPhone}'
	    limit 1
	</select>
</mapper>