<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.CarRuntimeMapper">

    <insert id="insertCarRuntime">
		insert into tb_carruntime (
		  devphone,
		  locateState,
		  gpsPosx,
		  gpsPosy,
		  gpsSpeed,
		  gpsDirect,
		  gpsMileage,
		  canSpeed,
		  Height,
		  drivemode,
		  engine,
		  acceleratorPedal,
		  atmosphericPressure,
		  brakePedal,
		  tempreture,
		  steeringwheelAngle,
		  videostate,
		  sendDatetime,
		  reviceDatetime
		)
		values
		  (
		  	'${locationInfo.devPhone}',
		  	'${locationInfo.locateState}',
		    '${locationInfo.gpsPosX}',
		    '${locationInfo.gpsPosY}',
		    '${locationInfo.gpsSpeed}',
		    '${locationInfo.gpsDirect}',
		     '${locationInfo.gpsMileage}',
		    '${locationInfo.canSpeed}',
		    '${locationInfo.Height}',
		    '${locationInfo.drivemode}',
		    '${locationInfo.engine}',
		    '${locationInfo.acceleratorPedal}',
		    '${locationInfo.atmosphericPressure}',
		    '${locationInfo.brakePedal}',
		    '${locationInfo.tempreture}',
		     '${locationInfo.steeringwheelAngle}',
		    '${locationInfo.videostate}',
		    '${locationInfo.sendDatetime}',
		    now()
		  ) 
	</insert>

    <update id="updateCarRuntime">
		update 
		  tb_carruntime
		set
			devphone='${locationInfo.devPhone}',
			locateState='${locationInfo.locateState}',
			gpsPosx= '${locationInfo.gpsPosX}',
			gpsPosy= '${locationInfo.gpsPosY}',
			gpsSpeed= '${locationInfo.gpsSpeed}',
			gpsDirect= '${locationInfo.gpsDirect}',
			gpsMileage=  '${locationInfo.gpsMileage}',
			canSpeed= '${locationInfo.canSpeed}',
			Height= '${locationInfo.Height}',
			drivemode= '${locationInfo.drivemode}',
			engine= '${locationInfo.engine}',
			acceleratorPedal= '${locationInfo.acceleratorPedal}',
			atmosphericPressure= '${locationInfo.atmosphericPressure}',
			brakePedal= '${locationInfo.brakePedal}',
			tempreture= '${locationInfo.tempreture}',
			steeringwheelAngle=  '${locationInfo.steeringwheelAngle}',
			videostate= '${locationInfo.videostate}',
			sendDatetime= '${locationInfo.sendDatetime}',
			reviceDatetime= now()
		where
			devphone = '${locationInfo.devPhone}'
	</update>

    <update id="setCarOnlineState">
		update 
		  zt_car_runtime
		set 
		  online_datetime = now(),
		  online_state = 1
		where
		  dev_phone = '${devPhone}' 
	</update>

    <update id="setCarOfflineState">
		update 
		  zt_car_runtime
		set 
		  offline_datetime = now(),
		  online_state = 0
		where
		  revice_datetime &lt;= '${idleTime}'
		  and online_state = 1
	</update>

    <select id="findCarPassword" resultType="com.entity.CarRuntime">
		select 
		  car_password carPassword
	    from 
	      zt_car_runtime 
	    where 
	      dev_phone = '${terminalPhone}'
	    limit 1
	</select>
</mapper>